<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>程序猿们正在为您处理</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
        background-color: #f7f7f7;
    }
</style>
<body>
    <div class="container tech">
        <img src="__STATIC__/images/{$img_name}" style="width: 100%">
    </div>
</body>
</html>